<!-- views/quiz.ejs -->
<div class="question">
    <p><%= index + 1 %>. <%= quiz.question %></p>
    <ul class="options">
        <% quiz.options.forEach(option => { %>
            <li><%= option %></li>
        <% }); %>
    </ul>
</div>
